{% extends "admin/base_site.html" %}
{% load i18n %}
{% load get_item %}

{% block content %}
<form method="post">
  <div>
    <p>If you manually changed any path, click here to save</p>
    <input type="submit" value="Save manual changes" name="manual_changes" />
  </div>

  <div style="margin-top: 10px; margin-bottom: 20px;">
    <p>If you want to clear your manual changes, you can run the automatic matcher again.</p>
    <label>
      <input type="checkbox" name="ignore_cache" value="1" />
      Check here if you want to fetch the list of files again from Storage. Otherwise, if possible, it will use a cached list.
    </label>
    <div>
      <input type="submit" value="Run Automatic matcher" name="run_matcher" />
    </div>
  </div>
  {% csrf_token %}

  <table class="full">
    <thead>
      <tr>
        <th>
          Event title
        </th>
        <th>
          Start / End
        </th>
        <th>
          Speakers
        </th>
        <th>
          Video Uploaded path
        </th>
      </tr>
    </thead>
    <tbody>
      {% for event in events %}
        <tr>
          <td>
            {{ event.title }}
          </td>
          <td>
            {{ event.slot.day.day }} {{ event.slot.hour }}
          </td>
          <td>
            {% if event.submission %}
              {% with speaker_id=event.submission.speaker_id|stringformat:"i" %}
                {{ users_data|get_item:speaker_id|get_item:'fullname' }}
                ({{ users_data|get_item:speaker_id|get_item:'name' }}) /
              {% endwith %}
              {% for speaker in event.additional_speakers.all %}
                {% with speaker_id=speaker.user_id|stringformat:"i" %}
                  {{ users_data|get_item:speaker_id|get_item:'fullname' }}
                  ({{ users_data|get_item:speaker_id|get_item:'name' }}) /
                {% endwith %}
              {% endfor %}
            {% endif %}
          </td>
          <td>
            <input type="text" name="video_uploaded_path_{{event.id}}" value="{{ event.video_uploaded_path }}" />
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</form>
{% endblock %}
