{% extends "admin/base_site.html" %}
{% load i18n markdownify %}
{% load localize countryname %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
  &rsaquo; <a href="{% url 'admin:app_list' 'reviews' %}">Reviews</a>
  &rsaquo; <a href="{% url 'admin:reviews_reviewsession_changelist' %}">Review sessions</a>
  &rsaquo; <a href="{% url 'admin:reviews_reviewsession_change' review_session_id %}">{{review_session_repr}}</a>
  &rsaquo; {{title}}
</div>
{% endblock %}

{% block content %}

<style>
  * {
    box-sizing: border-box;
  }

  .review-row {
    display: grid;
    grid-template-columns: 200px 1fr;
    padding: 10px;
    font-size: 13px;
    border-bottom: 1px solid var(--hairline-color);
  }

  .my-vote {
    font-size: 20px;
    padding: 10px;
  }

  .my-vote input[type="radio"] {
    width: 20px;
    height: 20px;
  }

  .available-votes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 10px;
  }

  .comments-wrapper-label {
    display: block;
    margin-bottom: 5px;
  }

  .comments-wrapper textarea {
    width: 100%;
  }

  .my-vote .actions {
    margin-top: 10px;
  }

  .my-vote .actions input {
    font-size: 16px;
  }

  .score-label {
    margin-bottom: 10px;
  }

  .tags-to-exclude {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .tags-to-exclude label {
    font-size: 17px;
  }
</style>
<script type="text/javascript">
window.addEventListener('load', function() {
  const selectAllTags = document.querySelector('#select-all-tags');
  const deselectAllTags = document.querySelector('#deselect-all-tags');
  const tags = document.querySelectorAll('.tags-to-exclude input[type="checkbox"]');

  selectAllTags.addEventListener('click', function (e) {
    e.preventDefault();
    tags.forEach(tag => tag.checked = true);
  });

  deselectAllTags.addEventListener('click', function (e) {
    e.preventDefault();
    tags.forEach(tag => tag.checked = false);
  });
});
</script>
<fieldset class="module aligned">
  <h2>Grant</h2>

  <div class="review-row">
    <label>Name</label>
    <div>{{grant.name}}</div>
  </div>

  <div class="review-row">
    <label>Fullname</label>
    <div>{{grant.full_name}}</div>
  </div>

  <div class="review-row">
    <label>Age Group</label>
    <div>{{grant.age_group}}</div>
  </div>

  <div class="review-row">
    <label>Gender</label>
    <div>{{grant.gender}}</div>
  </div>

  <div class="review-row">
    <label>Occupation</label>
    <div>{{grant.occupation}}</div>
  </div>

  <div class="review-row">
    <label>Grant type</label>
    <div>{{grant.grant_type}}</div>
  </div>

  <div class="review-row">
    <label>Travelling From</label>
    <div>{{grant.travelling_from}}</div>
  </div>

  <div class="review-row">
    <label>Needs funds for travel</label>
    <div>{{grant.needs_funds_for_travel|yesno}}</div>
  </div>

  <div class="review-row">
    <label>Needs visa</label>
    <div>{{grant.need_visa|yesno}}</div>
  </div>

  <div class="review-row">
    <label>Needs accommodation</label>
    <div>{{grant.need_accommodation|yesno}}</div>
  </div>

  <div class="review-row">
    <label>Interested in Volunteering</label>
    <div>{{grant.interested_in_volunteering|yesno}}</div>
  </div>

  <div class="review-row">
    <label>Why are you asking for a grant?</label>
    <div>{{grant.why}}</div>
  </div>

  <div class="review-row">
    <label>How do they use python:</label>
    <div>{{grant.python_usage}}</div>
  </div>

  <div class="review-row">
    <label>Have they been to other events?</label>
    <div>{{grant.been_to_other_events}}</div>
  </div>

  <div class="review-row">
    <label>Community contribution:</label>
    <div>{{grant.community_contribution}}</div>
  </div>

  <div class="review-row">
    <label>Notes:</label>
    <div>{{grant.notes}}</div>
  </div>

  <div class="review-row">
    <label>Voted by</label>
    <div>
      <details>
        <summary>See votes ({{proposal.userreview_set.count}} votes)</summary>
        <ul>
          {% for reviewer in proposal.userreview_set.all %}
          <li>
            <strong>{{reviewer.user.full_name}}</strong> voted
            {{reviewer.score.label}}
            ({{reviewer.score.numeric_value}})<br />
            {{reviewer.comment}}
          </li>
          {% empty %}
          <li>No reviews yet</li>
          {% endfor %}
        </ul>
      </details>
    </div>
  </div>
  <div class="review-row">
    <label>Open Grant</label>
    <div>
      <a target="_blank" href="{% url 'admin:grants_grant_change' object_id=grant.id %}">Open Grant</a>
    </div>
  </div>
</fieldset>

<fieldset class="module aligned">
  <h2>Your vote</h2>
  <form
    class="my-vote"
    method="post"
    action="{% url 'admin:reviews-vote-view' review_session_id grant.id %}"
  >
    {% csrf_token %}
    <div class="score-label">Score</div>
    <div class="available-votes">
      {% for available_score in available_scores %}
      <label class="my-vote-radio-wrapper">
        <input {% if user_review.score_id == available_score.id %} checked {% endif %} name="score" type="radio" value="{{ available_score.id }}" />
        {{available_score.label}}
      </label>
      {% endfor %}
    </div>

    <div class="comments-wrapper">
      <label class="comments-wrapper-label">Leave a comment?</label>
      <textarea rows="5" name="comment">{% if existing_comment %}{{existing_comment}}{% else %}{{user_review.comment}}{% endif %}</textarea>
    </div>

    <div class="actions">
      <input value="Vote and go to the next" type="submit" name="_next" />
      <input value="Skip for now" type="submit" name="_skip" />
    </div>
    </div>

    <input type="hidden" name="seen" value="{% for id in seen %}{{id}},{% endfor %}" />
  </form>
</fieldset>
{% endblock %}
