{% extends "admin/base_site.html" %}
{% load i18n markdownify %}
{% load localize countryname %}
{% block content %}

<style>
  * {
    box-sizing: border-box;
  }

  .review-row {
    display: grid;
    grid-template-columns: 100px 1fr;
    padding: 10px;
    font-size: 13px;
    border-bottom: 1px solid var(--hairline-color);
  }

  .my-vote {
    font-size: 20px;
    padding: 10px;
  }

  .my-vote input[type="radio"] {
    width: 20px;
    height: 20px;
  }

  .available-votes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 10px;
  }

  .comments-wrapper-label {
    display: block;
    margin-bottom: 5px;
  }

  .comments-wrapper textarea {
    width: 100%;
  }

  .my-vote .actions {
    margin-top: 10px;
  }

  .my-vote .actions input {
    font-size: 16px;
  }

  .score-label {
    margin-bottom: 10px;
  }

  .tags-to-exclude {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .tags-to-exclude label {
    font-size: 17px;
  }
</style>
<script type="text/javascript">
window.addEventListener('load', function() {
  const selectAllTags = document.querySelector('#select-all-tags');
  const deselectAllTags = document.querySelector('#deselect-all-tags');
  const tags = document.querySelectorAll('.tags-to-exclude input[type="checkbox"]');

  selectAllTags.addEventListener('click', function (e) { 
    e.preventDefault();
    tags.forEach(tag => tag.checked = true);
  });

  deselectAllTags.addEventListener('click', function (e) { 
    e.preventDefault();
    tags.forEach(tag => tag.checked = false);
  });
});
</script>
<h1>{{proposal.title | localize:"en"}}</h1>
<fieldset class="module aligned">
  <h2>Submission</h2>

  <div class="review-row">
    <label>Languages</label>
    <div>{{proposal.languages.all|join:", "}}</div>
  </div>
  <div class="review-row">
    <label>Type</label>
    <div>{{proposal.type}}</div>
  </div>
  <div class="review-row">
    <label>Audience Level</label>
    <div>{{proposal.audience_level}}</div>
  </div>
  {% if has_english_language %}
  <div class="review-row">
    <label>Title [English]</label>
    <div>{{proposal.title | localize:"en" }}</div>
  </div>
  <div class="review-row">
    <label>Elevator Pitch [English]</label>
    <div>{{proposal.elevator_pitch | localize:"en" | markdownify}}</div>
  </div>
  <div class="review-row">
    <label>Abstract [English]</label>
    <div>{{proposal.abstract | localize:"en" | markdownify}}</div>
  </div>
  {% endif %}
  {% if has_italian_language %}
  <div class="review-row">
    <label>Title [Italian]</label>
    <div>{{proposal.title | localize:"it" }}</div>
  </div>

  <div class="review-row">
    <label>Elevator Pitch [Italian]</label>
    <div>{{proposal.elevator_pitch | localize:"it" | markdownify}}</div>
  </div>
  <div class="review-row">
    <label>Abstract [Italian]</label>
    <div>{{proposal.abstract | localize:"it" | markdownify}}</div>
  </div>
  {% endif %}
  <div class="review-row">
    <label>Notes</label>
    <div>{{proposal.notes}}</div>
  </div>
  <div class="review-row">
    <label>Community Voting</label>
    <div>
      <ul>
        {% for ranking in proposal.rankings.all %}
        <li>
          {{ ranking.tag.name }}: {{ ranking.rank }}/{{ ranking.total_submissions_per_tag }}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="review-row">
    <label>Voted by</label>
    <div>
      <details>
        <summary>See votes ({{proposal.userreview_set.count}} votes)</summary>
        <ul>
          {% for reviewer in proposal.userreview_set.all %}
          <li>
            <strong>{{reviewer.user.full_name}}</strong> voted
            {{reviewer.score.label}}
            ({{reviewer.score.numeric_value}})<br />
            {{reviewer.comment}}
          </li>
          {% empty %}
          <li>No reviews yet</li>
          {% endfor %}
        </ul>
      </details>
    </div>
  </div>
  <div class="review-row">
    <label>Open submission</label>
    <div>
      <a target="_blank" href="{% url 'admin:submissions_submission_change' object_id=proposal.id %}">Open Submission</a>
    </div>
  </div>
</fieldset>
<fieldset class="module aligned">
  <h2>Speaker</h2>
  <div class="review-row">
    <label>Name</label>
    <div>{{speaker.fullname}}</div>
  </div>
  <div class="review-row">
    <label>Country</label>
    <div>{{speaker.country | countryname}}</div>
  </div>
  <div class="review-row">
    <label>Speaker Experience</label>
    <div>{{participant.speaker_level}}</div>
  </div>
  <div class="review-row">
    <label>Previous Talk Video</label>
    <div>
      {% if participant.previous_talk_video %}
        <a target="_blank" rel="noreferrer noopener" href="{{participant.previous_talk_video}}">
          {{participant.previous_talk_video}}
        </a>
      {% endif%}
    </div>
  </div>
  <div class="review-row">
    <label>Requested a grant?</label>
    {% if grant %}
    <div>
      <a target="_blank" href="{{grant_link}}">Yes, open grant</a>
    </div>
    {% else %}
    <div>
      No
    </div>
    {% endif %}
  </div>
  {% if grant %}
  <div class="review-row">
    <label>Grant status</label>    
    <div>
      {{grant.status}}
    </div>
  </div>
  {% endif %}
</fieldset>
<fieldset class="module aligned">
  <h2>Your vote</h2>
  <form
    class="my-vote"
    method="post"
    action="{% url 'admin:reviews-vote-proposal' review_session_id proposal_id %}"
  >
    {% csrf_token %}
    <div class="score-label">Score</div>
    <div class="available-votes">
      {% for available_score in available_scores %}
      <label class="my-vote-radio-wrapper">
        <input {% if user_review.score_id == available_score.id %} checked {% endif %} name="score" type="radio" value="{{ available_score.id }}" />
        {{available_score.label}}
      </label>
      {% endfor %}
    </div>

    <div class="comments-wrapper">
      <label class="comments-wrapper-label">Leave a comment?</label>
      <textarea rows="5" name="comment">{{user_review.comment}}</textarea>
    </div>

    <div class="actions">
      <input value="Vote and go to the next" type="submit" name="_next" />
      <input value="Skip for now" type="submit" name="_skip" />
    </div>

    <br />
    <div class="">
      Exclude proposals with those tags:
      <ul class="tags-to-exclude">
        {% for tag in tags_to_filter %}
          <li>
            <label>
              {% with tag_id=tag.id|stringformat:"i" %}
                <input {% if tag_id in tags_already_excluded %} checked {% endif %} type="checkbox" value="{{tag.id}}" name="exclude" />
                {{tag.name}}
              {% endwith %}
            </label>
          </li>
        {% endfor %}
      </ul>
      <button id="select-all-tags">Select all</button>
      <button id="deselect-all-tags">De-select all</button>
    </div>

    <input type="hidden" name="seen" value="{% for id in seen %}{{id}},{% endfor %}" />
  </form>
</fieldset>
{% endblock %}
