{% extends "admin/base_site.html" %}
{% load i18n %}
{% load markdownify %}
{% load localize countryname get_item %}
{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
  &rsaquo; <a href="{% url 'admin:app_list' 'reviews' %}">Reviews</a>
  &rsaquo; <a href="{% url 'admin:reviews_reviewsession_changelist' %}">Review sessions</a>
  &rsaquo; <a href="{% url 'admin:reviews_reviewsession_change' review_session_id %}">{{review_session_repr}}</a>
  &rsaquo; {{title}}
</div>
{% endblock %}
{% block content %}

<style>
  * {
    box-sizing: border-box;
  }

  .results-table {
    width: 100%;
  }

  .decision-input-wrapper label {
    display: block;
  }

  .decision-input-wrapper input {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }

  .reviews-bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 500;
    background-color: #417690;
    color: #fff;
  }

  .reviews-bottom-bar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .reviews-bottom-bar-stats {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;
  }

  .reviews-bottom-bar-confirm-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    max-width: 800px;
  }

  #accepted-proposals-num {
    color: #33bc8b;
  }

  #rejected-proposals-num {
    color: #f8b03d;
  }

  .results-table ul {
    margin-left: 0;
    padding: 0;
    list-style-type: none;
    list-style-position: inside;
  }

  .results-title ul {
    margin-top: 20px;
  }

  .opt-filter {
    display: grid;
    grid-template-columns: auto 1fr;
  }

  .opt-filter-values {
    display: flex;
    align-items: center;
  }

  .opt-filter-value {
    padding: 10px;
  }

  .hidden {
    display: none;
  }
</style>

<script type="application/javascript">
  const submissions = [];
  const audienceLevels = [
    {% for audience_level in audience_levels %}
      "{{ audience_level.id }}",
    {% endfor %}
  ];

  let acceptedProposalsNumRef;
  let rejectedProposalsNumRef;

  const getRefs = () => {
    acceptedProposalsNumRef = document.querySelector("#accepted-proposals-num");
    rejectedProposalsNumRef = document.querySelector("#rejected-proposals-num");
  };

  window.addEventListener("load", () => {
    getRefs();
    updateBottomBarUI();

    submissions.forEach((submissionData) => {
      const submissionId = submissionData.id;
      const acceptInput = document.getElementById(
        `decision-${submissionId}-accept`,
      );
      const rejectInput = document.getElementById(
        `decision-${submissionId}-reject`,
      );
      const unsetInput = document.getElementById(
        `decision-${submissionId}-unset`,
      );

      acceptInput.addEventListener("change", () => {
        submissionData.status = "accepted";
        updateBottomBarUI();
      });

      rejectInput.addEventListener("change", () => {
        submissionData.status = "rejected";
        updateBottomBarUI();
      });

      unsetInput.addEventListener("change", () => {
        unsetInput.checked = false;
        submissionData.status = "unknown";
        updateBottomBarUI();
      });
    });

    const filterWithReviewsSelect = document.querySelector('#filter-with-n-reviews');
    filterWithReviewsSelect.addEventListener('change', e => {
      e.preventDefault();

      const filterValue = parseInt(e.target.value, 10);

      document.querySelectorAll('.proposal-item').forEach(
        proposalItem => {
          if (e.target.value === 'all') {
            proposalItem.classList.remove('hidden')
            return;
          }

          const numOfVotes = parseInt(proposalItem.dataset.numOfVotes, 10);
          if (numOfVotes === filterValue) {
            proposalItem.classList.remove('hidden')
          } else {
            proposalItem.classList.add('hidden')
          }
        }
      )

    })
  });

  const updateBottomBarUI = () => {
    const acceptedAudienceLevels = {};
    const rejectedAudienceLevels = {};

    const results = submissions.reduce(
      (acc, submission) => {
        if (submission.status === "accepted") {
          acc[0]++;
          acceptedAudienceLevels[submission.audienceLevel] = (acceptedAudienceLevels[submission.audienceLevel] || 0) + 1;
        } else if (submission.status === "rejected") {
          acc[1]++;
          rejectedAudienceLevels[submission.audienceLevel] = (rejectedAudienceLevels[submission.audienceLevel] || 0) + 1;
        }
        return acc;
      },
      [0, 0],
    );

    acceptedProposalsNumRef.innerText = results[0];
    rejectedProposalsNumRef.innerText = results[1];

    audienceLevels.forEach(
      audienceLevel => {
        const acceptedRef = document.querySelector(`#accepted-audience-level-${audienceLevel}`);
        const rejectedRef = document.querySelector(`#rejected-audience-level-${audienceLevel}`);
        acceptedRef.innerText = acceptedAudienceLevels[audienceLevel] || 0;
        rejectedRef.innerText = rejectedAudienceLevels[audienceLevel] || 0;
      }
    );
  };
</script>

<form id="changelist-form" method="post" novalidate="">
  {% csrf_token %}

  <div id="content-main">
    <div class="module filtered">
      <h2>Filters</h2>
      <div class="opt-filter">
        <h3>Show proposals with N reviews:</h3>
        <select name="filter-with-n-reviews" id="filter-with-n-reviews">
          <option value="all">All</option>
          {% for i in '0123456789'|make_list %}
            <option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="module filtered" id="changelist">
      <div class="changelist-form-container">
        <div class="results">
          <table id="result_list" class="results-table">
            <thead>
              <tr>
                <th scope="col">
                  <div class="text"><a>Title</a></div>
                  <div class="clear"></div>
                </th>
                <th scope="col">
                  <div class="text"><a>Score</a></div>
                  <div class="clear"></div>
                </th>
                <th scope="col">
                  <div class="text"><a>Voting</a></div>
                  <div class="clear"></div>
                </th>
                <th scope="col">
                  <div class="text"><a>Type</a></div>
                  <div class="clear"></div>
                </th>
                <th scope="col">
                  <div class="text"><a>Status</a></div>
                  <div class="clear"></div>
                </th>
                <th scope="col">
                  <div class="text"><a>Decision</a></div>
                  <div class="clear"></div>
                </th>
              </tr>
            </thead>
            <tbody>
              {% for item in items %}
              <script>
                submissions.push({
                    id: {{ item.id }},
                    status: 'unknown',
                    audienceLevel: {{ item.audience_level.id }},
                  }
                );
              </script>
              <tr class="proposal-item" id="submission-{{item.id}}" data-type="{{item.type}}" data-num-of-votes="{{ item.userreview_set.count }}">
                <td class="results-title">
                  <a
                    target="_blank"
                    href="{% url 'admin:submissions_submission_change' item.id %}">
                    <strong>{{item.title}}</strong>
                  </a>
                  <p>
                    Audience level: {{ item.audience_level.name }}
                  </p>
                  <p>
                    Languages: {{ item.languages.all|join:", " }}
                  </p>
                  <ul>
                    {% for reviewer in item.userreview_set.all %}
                    <li>
                      <strong>{{reviewer.user.full_name}}</strong> voted
                      {{reviewer.score.label}}
                      ({{reviewer.score.numeric_value}})<br />
                      {{reviewer.comment}}
                    </li>
                    {% empty %}
                    <li>No reviews yet</li>
                    {% endfor %}
                    <li>
                      <a style="font-weight: bold" target="_blank" href="{% url 'admin:reviews-vote-view' review_session_id=review_session_id review_item_id=item.id %}">
                        Vote this proposal
                      </a>
                    </li>
                  </ul>

                  <hr />
                  <div>
                    {% with speaker_id=item.speaker_id|stringformat:"i" %}
                      <p>Speaker name: {{ item.speaker.fullname }}</ps>
                      <p>Speaker country: {{ item.speaker.country|countryname }}</p>
                      <p>Speaker gender: {{ item.speaker.gender }}</p>
                      {% if speaker_id in grants %}
                        {% with grant=grants|get_item:speaker_id %}
                          <p>💰 Requested a grant ({{ grant.status }})</p>
                        {% endwith %}
                      {% endif %}
                    {% endwith %}
                  </div>
                </td>

                <td>{{ item.score }}</td>

                <td>
                  <ul>
                    {% for ranking in item.rankings.all %}
                    <li>
                      {{ ranking.tag.name }}: {{ ranking.rank }}/{{ ranking.total_submissions_per_tag }}
                    </li>
                    {% endfor %}
                  </ul>
                </td>
                <td>{{item.type}}</td>
                <td>
                  {{item.status}} {% if item.pending_status %}<br />
                  <span>(<strong>pending</strong>: {{item.pending_status}})</span>
                  {% endif %}
                </td>

                <td class="decision-input-wrapper">
                  <label>
                    <input
                      type="radio"
                      name="decision-{{item.id}}"
                      value="accept"
                      id="decision-{{item.id}}-accept"/>
                      Accept
                  </label>
                  <label
                    ><input
                      type="radio"
                      name="decision-{{item.id}}"
                      value="reject"
                      id="decision-{{item.id}}-reject"/>
                      Reject
                  </label>
                  <label
                    ><input
                      type="radio"
                      name="decision-{{item.id}}"
                      value="unset"
                      id="decision-{{item.id}}-unset"/>
                      Unset
                  </label>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div style="height: 100px"></div>
  </div>

  <div id="content" class="reviews-bottom-bar colM">
    <div class="reviews-bottom-bar-content">
      <div class="submit-row reviews-bottom-bar-confirm-bar">
        <label>
          <input type="checkbox" name="mark_as_confirmed" />
          <span>By default your choice is marked as pending so you can review and
            confirm them later. Check here if you want to apply the
            accept/reject immediately.</span>
        </label>
        <input value="Submit choices" type="submit" />
      </div>
      <div class="reviews-bottom-bar-stats">
        <div>
          <h2>Accepted proposals: <span id="accepted-proposals-num">0</span></h2>
          <ul>
            {% for audience_level in audience_levels %}
            <li>
              {{audience_level.name}}: <span id="accepted-audience-level-{{audience_level.id}}">0</span>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div>
          <h2>Rejected proposals: <span id="rejected-proposals-num">0</span></h2>
          <ul>
            {% for audience_level in audience_levels %}
            <li>
              {{audience_level.name}}: <span id="rejected-audience-level-{{audience_level.id}}">0</span>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}
