{% extends "admin/base_site.html" %} 
{% load i18n %} 
{% load markdownify %} 
{% load localize countryname get_item %} 
{% block content %}

<style>
  * {
    box-sizing: border-box;
  }

  .results-table {
    width: 100%;
  }

  .decision-input-wrapper label {
    display: block;
  }

  .decision-input-wrapper input {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }

  .reviews-bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 500;
    background-color: #417690;
    color: #fff;
  }

  .reviews-bottom-bar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .reviews-bottom-bar-stats {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;
  }

  .reviews-bottom-bar-confirm-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    max-width: 800px;
  }

  #accepted-proposals-num {
    color: #33bc8b;
  }

  #rejected-proposals-num {
    color: #f8b03d;
  }

  .results-table ul {
    margin-left: 0;
    padding: 0;
    list-style-type: none;
    list-style-position: inside;
  }

  .results-title ul {
    margin-top: 20px;
  }
</style>

<script type="application/javascript">
  const submissions = [];
  let acceptedProposalsNumRef;
  let rejectedProposalsNumRef;

  const getRefs = () => {
    acceptedProposalsNumRef = document.querySelector("#accepted-proposals-num");
    rejectedProposalsNumRef = document.querySelector("#rejected-proposals-num");
  };

  window.addEventListener("load", () => {
    getRefs();

    updateBottomBarUI();

    submissions.forEach((submissionData) => {
      const submissionId = submissionData.id;
      const acceptInput = document.getElementById(
        `decision-${submissionId}-accept`,
      );
      const rejectInput = document.getElementById(
        `decision-${submissionId}-reject`,
      );

      acceptInput.addEventListener("change", () => {
        console.log("Submission", submissionId, "accepted");
        submissionData.status = "accepted";
        updateBottomBarUI();
      });

      rejectInput.addEventListener("change", () => {
        console.log("Submission", submissionId, "rejected");
        submissionData.status = "rejected";
        updateBottomBarUI();
      });
    });
  });

  const updateBottomBarUI = () => {
    const results = submissions.reduce(
      (acc, submission) => {
        if (submission.status === "accepted") {
          acc[0]++;
        } else if (submission.status === "rejected") {
          acc[1]++;
        }
        return acc;
      },
      [0, 0],
    );

    acceptedProposalsNumRef.innerText = results[0];
    rejectedProposalsNumRef.innerText = results[1];
  };
</script>

<form id="changelist-form" method="post" novalidate="">
  {% csrf_token %}

  <div id="content-main">
    <div class="module filtered" id="changelist">
      <div class="changelist-form-container">
        <div class="results">
          <table id="result_list" class="results-table">
            <thead>
              <tr>
                <th scope="col">
                  <div class="text"><a>Title</a></div>
                  <div class="clear"></div>
                </th>
                <th scope="col">
                  <div class="text"><a>Median</a></div>
                  <div class="clear"></div>
                </th>
                <th scope="col">
                  <div class="text"><a>Voting</a></div>
                  <div class="clear"></div>
                </th>
                <th scope="col">
                  <div class="text"><a>Type</a></div>
                  <div class="clear"></div>
                </th>
                <th scope="col">
                  <div class="text"><a>Status</a></div>
                  <div class="clear"></div>
                </th>
                <th scope="col">
                  <div class="text"><a>Decision</a></div>
                  <div class="clear"></div>
                </th>
              </tr>
            </thead>
            <tbody>
              {% for item in items %}
              <script>
                submissions.push({
                    id: {{ item.id }},
                    status: 'unknown',
                  }
                );
              </script>
              <tr id="submission-{{item.id}}" data-type="{{item.type}}">
                <td class="results-title">
                  <a
                    target="_blank"
                    href="{% url 'admin:submissions_submission_change' item.id %}"
                    ><strong>{{item.title}}</strong></a
                  >

                  <ul>
                    {% for reviewer in item.userreview_set.all %}
                    <li>
                      <strong>{{reviewer.user.full_name}}</strong> voted
                      {{reviewer.score.label}}
                      ({{reviewer.score.numeric_value}})<br />
                      {{reviewer.comment}}
                    </li>
                    {% empty %}
                    <li>No reviews yet</li>
                    {% endfor %}
                  </ul>

                  <hr />
                  <div>
                    <p>Speaker name: {{ speakers|get_item:item.speaker_id|get_item:'fullname' }}</ps>
                    <p>Speaker country: {{ speakers|get_item:item.speaker_id|get_item:'country'|countryname }}</p>
                    {% if item.speaker_id in grants %}
                      <p>💰 Requested a grant</p>
                    {% endif %}
                  </div>
                </td>

                <td>{{ item.median }}</td>

                <td>
                  <ul>
                    {% for ranking in item.rankings.all %}
                    <li>
                      {{ ranking.tag.name }}: {{ ranking.rank }}/{{ ranking.total_submissions_per_tag }}
                    </li>
                    {% endfor %}
                  </ul>
                </td>
                <td>{{item.type}}</td>
                <td>
                  {{item.status}} {% if item.pending_status %}<br />
                  <span>(<strong>pending</strong>: {{item.pending_status}})</span>
                  {% endif %}
                </td>

                <td class="decision-input-wrapper">
                  <label>
                    <input
                      type="radio"
                      name="decision-{{item.id}}"
                      value="accept"
                      id="decision-{{item.id}}-accept"/>
                      Accept
                  </label>
                  <label
                    ><input
                      type="radio"
                      name="decision-{{item.id}}"
                      value="reject"
                      id="decision-{{item.id}}-reject"/>
                      Reject
                  </label>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div style="height: 100px"></div>
  </div>

  <div id="content" class="reviews-bottom-bar colM">
    <div class="reviews-bottom-bar-content">
      <div class="submit-row reviews-bottom-bar-confirm-bar">
        <label>
          <input type="checkbox" name="mark_as_confirmed" />
          <span>By default your choice is marked as pending so you can review and
            confirm them later. Check here if you want to apply the
            accept/reject immediately.</span>
        </label>
        <input value="Submit choices" type="submit" />
      </div>
      <div class="reviews-bottom-bar-stats">
        <h2>Accepted proposals: <span id="accepted-proposals-num">0</span></h2>
        <h2>Rejected proposals: <span id="rejected-proposals-num">0</span></h2>
      </div>
    </div>
  </div>
</form>
{% endblock %}
