{
  "presets": ["next/babel"],
  "plugins": [
    [
      "@babel/plugin-transform-react-jsx",
    {
      "runtime": "classic",
      "importSource": "theme-ui",
      "pragmaFrag": "React.Fragment",
      "throwIfNamespace": false,
    }]
  ]
}
