**/node_modules
**/.env
**/.npmrc
**/.pdm-build
**/.venv/**
**/.ruff_cache/**
**/.pnpm-store/**
**/__pycache__/**
**/__pypackages__/**
.pdm-python
**/.pytest_cache/**
Dockerfile
**/_dist/**
**/backend/media
*.sqlite3
