root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.py]
max_line_length = 119

# Use 2 spaces for the HTML files
[*.html]
indent_size = 2

[.prettierrc]
indent_size = 2

# The JSON files contain newlines inconsistently
[{*.json,*.ts,*.tsx,*.yml,*.js,*.graphql}]
indent_size = 2

# Makefiles always use tabs for indentation
[Makefile]
indent_style = tab

[*.tf]
indent_size = 2
