aliases:
    - &python_settings
      types: [python]
      exclude: >
          (?x)^(
            .+/migrations/.+|
            .+/alembic/.+|
          )$

repos:
    - repo: https://github.com/python/black
      rev: 22.6.0
      hooks:
          - <<: *python_settings
            id: black
            language_version: python3.9
    - repo: https://github.com/charliermarsh/ruff-pre-commit
      rev: 'v0.0.247'
      hooks:
        - id: ruff
          args: [--fix, --exit-non-zero-on-fix]
    - repo: https://github.com/adamchainz/django-upgrade
      rev: '1.10.0'
      hooks:
      - id: django-upgrade
        args: [--target-version, "4.1"]
    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: v2.7.1
      hooks:
          - id: prettier
            files: '.*/.*\.(js|jsx|ts|tsx|graphql)$'
            additional_dependencies:
            - prettier@2.8.4
            - "@trivago/prettier-plugin-sort-imports@4.0.0"
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.3.0
      hooks:
          - id: end-of-file-fixer
            files: '^.*\.(py|mjml|js|jsx|tf|tfvars|conf)$'
          - id: check-merge-conflict
          - id: detect-private-key
