aliases:
    - &python_settings
      types: [python]
      exclude: >
          (?x)^(
            .+/migrations/.+|
            .+/alembic/.+|
          )$

repos:
    - repo: https://github.com/pycqa/isort
      rev: 5.10.1
      hooks:
        - <<: *python_settings
          id: isort
          name: isort (python)
    - repo: https://github.com/adamchainz/django-upgrade
      rev: '1.10.0'
      hooks:
      - id: django-upgrade
        args: [--target-version, "4.1"]
    - repo: https://github.com/python/black
      rev: 22.6.0
      hooks:
          - <<: *python_settings
            id: black
            language_version: python3.9
    - repo: https://github.com/pycqa/flake8
      rev: 4.0.1
      hooks:
          - <<: *python_settings
            id: flake8
    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: v2.7.1
      hooks:
          - id: prettier
            files: '.*/.*\.(js|jsx|ts|tsx|graphql)$'
            additional_dependencies:
            - prettier@2.8.1
            - "@trivago/prettier-plugin-sort-imports@4.0.0"
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.3.0
      hooks:
          - id: end-of-file-fixer
            files: '^.*\.(py|mjml|js|jsx|tf|tfvars|conf)$'
          - id: check-merge-conflict
          - id: detect-private-key
    - repo: 'https://github.com/myint/autoflake'
      rev: v1.4
      hooks:
        - id: autoflake
          args:
            - '--in-place'
            - '--remove-all-unused-imports'
            - '--ignore-init-module-imports'
          name: autoflake
          entry: autoflake
          language: python
          types:
            - python
          require_serial: true
