aliases:
    - &python_settings
      types: [python]
      exclude: >
          (?x)^(
            .+/migrations/.+|
            .+/alembic/.+|
          )$

repos:
    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: 'v0.2.1'
      hooks:
        - id: ruff
          args: [--fix, --exit-non-zero-on-fix]
        - id: ruff-format
    - repo: https://github.com/adamchainz/django-upgrade
      rev: '1.13.0'
      hooks:
      - id: django-upgrade
        args: [--target-version, "4.2"]
    - repo: https://github.com/biomejs/pre-commit
      rev: "v0.1.0"
      hooks:
        - id: biome-check
          additional_dependencies: ["@biomejs/biome@1.5.3"]
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.3.0
      hooks:
          - id: end-of-file-fixer
            files: '^.*\.(py|mjml|js|jsx|tf|tfvars|conf)$'
          - id: check-merge-conflict
          - id: detect-private-key
