.Container {
    display: flex;
    min-height: 100vh;
    width: 100%;
}

.Listing {
    flex-grow: 1;
    background: #FFFFFF;
}

.Sidebar {
    flex: 0 0 40rem;

    color: #fff;
    background: #334DCD;
    padding: 3rem;
}

.TicketsListing {
    margin: 3rem;
    list-style: none;
}

.TicketGroup {
    margin: 2rem 0;
}

.TicketCard {
    max-width: 25rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    padding: 1rem;

    border-radius: .8rem;
    background: #fbfbfb;
    box-shadow: 0 1.4rem 2.8rem rgba(0,0,0,0.25), 0 .1rem .1rem rgba(0,0,0,0.22);
    margin: 1.5rem 1rem;
    cursor: pointer;
    user-select: none;
    transition: box-shadow .3s cubic-bezier(.25,.8,.25,1);
}

.TicketCard:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.GroupTickets {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.Name {

}

.Amount {
    margin-left: .2rem;
}

.Description {
    margin: .5rem 0;
}

.Price {
    text-align: right;
    margin-top: auto;
    font-weight: bold;
}

.CartItems {
    list-style: none;
}

.CartItem {
    display: flex;
    margin: 1rem 0;
}

.CartItemName {
    margin-right: auto;
}

.CartItemPrice {
    font-weight: bold;
}

.Remove {
    color: red;
    margin: 0 1rem;
    user-select: none;
    cursor: pointer;
}

.TotalToPay {
    display: flex;
    justify-content: space-between;
}

:global .StripeElement {
    margin: 2rem 0;
}

button {
    width: 100%;
    appearance: none;
    padding: 1.5rem;
    font-size: 1.6rem;
    background: #fff;
    border: 0;
    border-radius: .4rem;
    cursor: pointer;
    color: #000;
}
