.vscode/
django-static/
cov.xml
.env
*.pyo
*.pyc
**/__pycache__/**
**/node_modules/**
*.sqlite3
**/node_modules
**/.env
**/.npmrc
**/.pdm-build
**/.venv/**
**/.ruff_cache/**
**/.pnpm-store/**
**/__pycache__/**
.pdm-python
**/.pytest_cache/**
Dockerfile
**/_dist/**
**/backend/media
*.sqlite3
db.sqlite3
**/.virtualenv
