*.py[co]
*.sw[po]
.coverage
.env
*.orig
.noseids
*~
#*
.#*
*.egg-info
*.sqlite3
notes.org
.DS_Store
.sass-cache
pip-log.txt
__pycache__/
.cache/
.vagrant/
dist/
node_modules/
tmp/
tags
secrets/
*.tfstate.backup
media/*.jpg
.elasticbeanstalk/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
!.elasticbeanstalk/config.yml
