[tool.poetry]
name = "backend"
version = "0.1.0"
description = "PyCon Italia backend"
authors = ["Your Name <you@example.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.7"
Django = "=2.2.8"
django-environ = "=0.4.4"
social-auth-app-django = "=2.1.0"
django-model-utils = "=4.0.0"
pytz = "=2019.3"
django-timezone-field = "=4.0"
stripe = "=2.41.0"
django-fsm = "=2.6.1"
psycopg2-binary = "=2.8.4"
amqp = "=2.5.1"
billiard = "=3.6.1.0"
celery = "=4.3.0"
kombu = "=4.6.5"
redis = "=3.3.11"
vine = "=1.3.0"
certifi = "=2019.9.11"
chardet = "=3.0.4"
idna = "=2.8"
requests = "=2.22.0"
urllib3 = "=1.25.7"
strawberry-graphql = "0.20.0"
aniso8601 = "=8.0.0"
Pillow = "=6.2.1"
whitenoise = "=5.0.1"
django-ordered-model = "=3.3.0"
uWSGI = "=2.0.18"
django-storages = "=1.8"
sentry-sdk = "^0.13.4"
boto3 = "^1.10"
pycountry = "^19.8"
countries = "^0.2.0"
django-ses = "^0.8.13"

[tool.poetry.dev-dependencies]
pylint = "=2.4.4"
pylint-django = "=2.0.13"
pytest = "=5.3.1"
pytest-cov = "=2.8.1"
pytest-django = "=3.7.0"
pytest-pylint = "=0.14.1"
pytest-factoryboy = "=2.0.3"
factory-boy = "=2.12.0"
mypy = "^0.750"
pdbpp = "^0.10.2"
flake8 = "^3.7"
black = {version = "^19.10b0",allow-prereleases = true}
requests-mock = "^1.7"
pytest-mock = "^1.13"
freezegun = "^0.3.12"
pytest-cache = "^1.0"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
