[tool.poetry]
name = "backend"
version = "0.1.0"
description = "PyCon Italia backend"
authors = ["Python Italia"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.11"
Django = "4.2.3"
django-environ = "0.10.0"
django-model-utils = "=4.1.1"
pytz = "=2019.3"
django-timezone-field = "=4.0"
django-fsm = "=2.6.1"
certifi = "=2021.10.8"
chardet = "=3.0.4"
idna = "=2.8"
requests = "=2.26.0"
urllib3 = "=1.25.7"
aniso8601 = "=8.0.0"
whitenoise = "=5.2.0"
django-ordered-model = "3.5"
uWSGI = "2.0.21"
django-storages = {extras = ["azure"], version = "^1.13.2"}
sentry-sdk = "^1.1.0"
boto3 = "1.26.101"
pycountry = "^19.8"
countries = "^0.2.0"
django-ses = "^1.0.3"
hashids = "^1.2.0"
django-autocomplete-light = "3.9.4"
django-queryinspect = "^1.1.0"
lxml = "^4.5.0"
unidecode = "^1.1.1"
jsonschema = "^3.2.0"
strawberry-graphql = "^0.177.0"
Werkzeug = "^1.0.1"
pythonit-toolkit = "0.1.87"
django-import-export = "^2.7.1"
awslambdaric = {version = "^2.0.4", optional = true}
azure-identity = "^1.12.0"
azure-storage-blob = "^12.14.1"
dal-admin-filters = "1.1.0"
django-markdownify = "^0.9.2"
psycopg2 = "^2.9.5"
django-imagekit = "^4.1.0"
pillow = "^9.5.0"
redis = {extras = ["hiredis"], version = "^4.5.5"}

[tool.poetry.extras]
lambda = ["awslambdaric"]

[tool.poetry.group.dev.dependencies]
mypy = "^1.2.0"
pytest = "^7.4.0"
pylint = "=2.6.0"
pylint-django = "=2.0.13"
pytest-cov = "^4.1.0"
pytest-django = "^4.5.2"
pytest-pylint = "^0.19.0"
pytest-factoryboy = "^2.5.1"
factory-boy = "^3.2.1"
pdbpp = "^0.10.2"
flake8 = "^3.7"
black = "^23.7.0"
requests-mock = "^1.11.0"
pytest-mock = "^3.11.1"
pytest-cache = "^1.0"
time-machine = "^2.11.0"
respx = "0.18.2"
rich = "^13.4.2"
libcst = "^1.0.1"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[tool.ruff]
line-length = 88
exclude = [
    "migrations"
]
target-version = "py311"
