[tool.poetry]
name = "backend"
version = "0.1.0"
description = "PyCon Italia backend"
authors = ["Python Italia"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.9"
Django = "4.1.6"
django-environ = "=0.8.1"
django-model-utils = "=4.1.1"
pytz = "=2019.3"
django-timezone-field = "=4.0"
django-fsm = "=2.6.1"
psycopg2-binary = "=2.8.6"
certifi = "=2021.10.8"
chardet = "=3.0.4"
idna = "=2.8"
requests = "=2.26.0"
urllib3 = "=1.25.7"
aniso8601 = "=8.0.0"
Pillow = "=6.2.1"
whitenoise = "=5.2.0"
django-ordered-model = "3.5"
uWSGI = "2.0.21"
django-storages = "=1.11.1"
sentry-sdk = "^1.1.0"
boto3 = "^1.16"
pycountry = "^19.8"
countries = "^0.2.0"
django-ses = "^1.0.3"
hashids = "^1.2.0"
django-autocomplete-light = "3.9.4"
django-queryinspect = "^1.1.0"
lxml = "^4.5.0"
unidecode = "^1.1.1"
jsonschema = "^3.2.0"
mypy_extensions = "^0.4.3"
strawberry-graphql = "0.156.0.dev.1675101075"
Werkzeug = "^1.0.1"
pythonit-toolkit = "0.1.83"
django-import-export = "^2.7.1"
awslambdaric = {version = "^2.0.4", optional = true}
azure-identity = "^1.12.0"
azure-storage-blob = "^12.14.1"
dal-admin-filters = "1.1.0"
django-markdownify = "^0.9.2"

[tool.poetry.dev-dependencies]
pylint = "=2.6.0"
pylint-django = "=2.0.13"
pytest = "6.2.1"
pytest-cov = "=3.0.0"
pytest-django = "=4.5.2"
pytest-pylint = "=0.18.0"
pytest-factoryboy = "=2.0.3"
factory-boy = "=3.1.0"
mypy = "^0.812"
pdbpp = "^0.10.2"
flake8 = "^3.7"
black = {version = "^21.12b0",allow-prereleases = true}
requests-mock = "^1.7"
pytest-mock = "^3.4"
pytest-cache = "^1.0"
bpython = "^0.22"
time-machine = "^2.4.1"
respx = "0.18.2"

[tool.poetry.extras]
lambda = ["awslambdaric"]

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
