[tool.poetry]
name = "backend"
version = "0.1.0"
description = "PyCon Italia backend"
authors = ["Your Name <you@example.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.7"
Django = "=2.2.6"
django-environ = "=0.4.4"
social-auth-app-django = "=2.1.0"
django-model-utils = "=3.2.0"
pytz = "=2019.3"
django-timezone-field = "=3.1"
stripe = "=2.38.0"
django-fsm = "=2.6.1"
psycopg2-binary = "=2.8.4"
amqp = "=2.5.1"
billiard = "=3.6.1.0"
celery = "=4.3.0"
kombu = "=4.6.5"
redis = "=3.3.11"
vine = "=1.3.0"
certifi = "=2019.9.11"
chardet = "=3.0.4"
idna = "=2.8"
requests = "=2.22.0"
urllib3 = "=1.25.6"
strawberry-graphql = "=0.16.5"
aniso8601 = "=8.0.0"
Pillow = "=6.2.1"
whitenoise = "=4.1.4"
django-ordered-model = "=3.3.0"
uWSGI = "=2.0.18"
django-storages = "=1.7.2"
sentry-sdk = "^0.13.1"
boto3 = "^1.10"

[tool.poetry.dev-dependencies]
pylint = "=2.4.3"
pylint-django = "=2.0.11"
pytest = "=5.2.2"
pytest-cov = "=2.8.1"
pytest-django = "=3.6.0"
pytest-pylint = "=0.14.1"
pytest-factoryboy = "=2.0.3"
factory-boy = "=2.12.0"
mypy = "^0.740"
pdbpp = "^0.10.2"
flake8 = "^3.7"
black = {version = "^19.3b0",allows-prereleases = true}

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
