[tool.poetry]
name = "backend"
version = "0.1.0"
description = "PyCon Italia backend"
authors = ["Python Italia"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.11"
Django = "4.2.7"
django-environ = "0.10.0"
django-model-utils = "=4.1.1"
pytz = "2023.3.post1"
django-timezone-field = "=4.0"
django-fsm = "=2.6.1"
certifi = "=2021.10.8"
chardet = "=3.0.4"
idna = "=2.8"
requests = "=2.26.0"
urllib3 = ">=1.25.7"
aniso8601 = "=8.0.0"
whitenoise = "=5.2.0"
django-ordered-model = "3.5"
uWSGI = "2.0.21"
django-storages = { extras = ["azure"], version = "^1.13.2" }
sentry-sdk = "1.32.0"
boto3 = "^1.28.78"
pycountry = "^19.8"
countries = "^0.2.0"
django-ses = "^1.0.3"
hashids = "^1.2.0"
django-autocomplete-light = "3.9.4"
django-queryinspect = "^1.1.0"
lxml = "^4.5.0"
unidecode = "^1.1.1"
jsonschema = "^4.20.0"
strawberry-graphql = "0.211.1"
Werkzeug = "^1.0.1"
pythonit-toolkit = "0.1.92"
django-import-export = "^3.2.0"
awslambdaric = { version = "^2.0.4", optional = true }
azure-identity = "^1.12.0"
azure-storage-blob = "^12.14.1"
dal-admin-filters = "1.1.0"
django-markdownify = "^0.9.2"
psycopg2 = "^2.9.5"
django-imagekit = "^4.1.0"
pillow = "^10.0.1"
redis = { extras = ["hiredis"], version = "^4.5.5" }
google-api-python-client = "^2.94.0"
google-auth = "^2.22.0"
google-auth-oauthlib = "^1.0.0"
google-auth-httplib2 = "^0.1.0"
temporalio = "^1.2.0"
opencv-python = "^4.8.0.74"
argon2-cffi = "^23.1.0"
stripe = "^7.0.0"
djangorestframework = "^3.14.0"
l18n = "^2021.3"
wagtail = "5.1.3"
wagtail-localize = "1.5.2"


[tool.poetry.extras]
lambda = ["awslambdaric"]

[tool.poetry.group.dev.dependencies]
mypy = "^1.2.0"
typer = "^0.9.0"
pylint = "=3.0.2"
pylint-django = "=2.5.5"
pytest = "7.4.3"
pytest-cov = "=4.1.0"
pytest-django = "=4.6.0"
pytest-pylint = "=0.21.0"
pytest-factoryboy = "=2.6.0"
factory-boy = "=3.3.0"
pdbpp = "^0.10.3"
flake8 = "^6.1.0"
black = "23.10.1"
requests-mock = "^1.11.0"
pytest-mock = "^3.12.0"
pytest-cache = "^1.0"
time-machine = "^2.13.0"
rich = "^13.6.0"
libcst = "^1.1.0"
wagtail-factories = "^4.1.0"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[tool.ruff]
line-length = 88
exclude = ["migrations"]
target-version = "py311"
