<!DOCTYPE html>
<html lang="en">

<head>
  <title>Checkout</title>
  <script src="https://js.stripe.com/v3/"></script>
</head>

<body>
  <button id="checkout">Subscribe</button>
  <div id="error-message" class="error-message"></div>
  <script>
    var stripe = Stripe("pk_test_1Tti9s1UY4Ot4NJXxWc6kdYg");
    // Setup event handler to create a Checkout Session when button is clicked
    document
      .getElementById("checkout")
      .addEventListener("click", function (evt) {
        stripe
          .redirectToCheckout({
            sessionId: "cs_test_a1DWMhvBeOGH16NiM3tem8McnTZpxg05YRt8esU2kJriwsnN23AcIwslpt"
          })
          .then(handleResult);
      });
  </script>
</body>

</html>
