{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_list %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "admin/css/changelists.css" %}">

  {{ media.css }}
    <style>
      .text-right {
        text-align: right;
    }
    </style>
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
<script src="{% static 'admin/js/filters.js' %}" defer></script>
{% endblock %}



{% block content %}
  <div id="content-main">


    <div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">
      <div class="changelist-form-container">
        <table id="result_list">
          <thead>
            <tr>
              <th> <div class="text"><span>Continent</span></div></th>
              <th> <div class="text"><span>Country</span></div></th>
              <th> <div class="text text-right"><span>Total</span></div></th>
              <th> <div class="text text-right"><span># requests</span></div></th>
              <th> <div class="text text-right"><span># pending</span></div></th>
              <th> <div class="text text-right"><span># approved</span></div></th>
              <th> <div class="text text-right"><span># waiting confirmation</span></div></th>
              <th> <div class="text text-right"><span># confirmed</span></div></th>
              <th> <div class="text text-right"><span># waiting list</span></div></th>
              <th> <div class="text text-right"><span># rejected</span></div></th>
              <th> <div class="text text-right"><span># refused</span></div></th>
            </tr>
          </thead>
          <tbody>

            {% for result in results %}
            <tr>
              <td><div class="text"><span>{{ result.continent }}</span></div></td>
              <td><div class="text"><span>{{ result.country }}</span></div></td>
              <th><div class="text text-right"><span>{{result.total }}€</span></div></th>
              <td><div class="text text-right"><span>{{ result.count }}</span></div></td>
              <td><div class="text text-right"><span>{{ result.pending }}</span></div></td>
              <td><div class="text text-right"><span>{{ result.approved }}</span></div></td>
              <td><div class="text text-right"><span>{{ result.waiting_for_confirmation }}</span></div></td>
              <td><div class="text text-right"><span>{{ result.confirmed }}</span></div></td>
              <td><div class="text text-right"><span>{{ result.waiting_list }}</span></div></td>
              <td><div class="text text-right"><span>{{ result.rejected }}</span></div></td>
              <td><div class="text text-right"><span>{{ result.refused }}</span></div></td>

            </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr> <th> <div class="text"><span>{{ footer.title}}</span></div></th>
              <th> <div class="text"><span></span></div></th>
              <th> <div class="text text-right"><span>{{ footer.total }}€</span></div></th>
              <th> <div class="text text-right"><span>{{ footer.count }}</span></div></th>
              <th> <div class="text text-right"><span>{{ footer.pending }}</span></div></th>
              <th> <div class="text text-right"><span>{{ footer.approved }}</span></div></th>
              <th> <div class="text text-right"><span>{{ footer.waiting_for_confirmation}}</span></div></th>
              <th> <div class="text text-right"><span>{{ footer.confirmed}}</span></div></th>
              <th> <div class="text text-right"><span>{{ footer.waiting_list}}</span></div></th>
              <th> <div class="text text-right"><span>{{ footer.rejected}}</span></div></th>
              <th> <div class="text text-right"><span>{{ footer.refused}}</span></div></th>
            </tr>
          </tfoot>

        </table>

      </div>
      {% block filters %}
        {% if cl.has_filters %}
          <div id="changelist-filter">
            <h2>{% translate 'Filter' %}</h2>
            {% if cl.has_active_filters %}<h3 id="changelist-filter-clear">
              <a href="{{ cl.clear_all_filters_qs }}">&#10006; {% translate "Clear all filters" %}</a>
            </h3>{% endif %}
            {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
          </div>
        {% endif %}
      {% endblock %}
    </div>
  </div>
{% endblock %}
