{% extends "admin/base_site.html" %}

{% block title %}Grant Summary | {{ site_title }}{% endblock %}

{% load markdownify %}
{% load localize countryname get_item %}
{% load i18n l10n admin_urls static admin_list %}
{% load get_item %}
{% block extrastyle %}
    {{ block.super }}
    <style>
        .back-button {
            margin-bottom: 20px;
        }

        .back-button a.button {
            padding: 6px 12px;
        }

        .approved,
        .waiting_for_confirmation,
        .confirmed {
            font-weight: 600;
            color: var(--body-loud-color)
        }

        #financialSummary td,
        #financialSummary th {
            text-align: right;
        }

        .status-filter {
            margin-bottom: 20px;
            padding: 15px;
            border: 1px solid var(--hairline-color);
            background-color: var(--body-bg);
        }

        .status-filter h3 {
            margin-top: 0;
        }

        .checkbox-list {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }

        .status-checkbox {
            margin-right: 20px;
            margin-bottom: 10px;
        }

        .status-checkbox input {
            margin-right: 5px;
        }

        .continent-total {
            border-top: 2px solid var(--border-color);
            border-bottom: 2px solid var(--hairline-color);
        }

        #grants-container table {
            width: 100%;
            table-layout: fixed;
            border-collapse: collapse;
        }

        #grants-container th,
        #grants-container td {
            padding: 8px;
            border: 1px solid var(--hairline-color);
            text-align: center;
        }

        #grants-container th,
        #grants-container td {
            width: calc(100% / 11);
        }

        #grants-container th {
            background-color: var(--body-bg);
        }
    </style>
{% endblock %}
{% block content %}
    <div class="submit-row back-button">
        <a href="{% url 'admin:conferences_conference_change' object_id=conference_id %}"
           class="button">
            Back to <strong>{{ conference_repr }}</strong>
        </a>
    </div>
    <h1>
        Grant Summary for <strong>{{ conference_repr }}</strong>
    </h1>
    <div class="status-filter">
        <h3>Toggle Status Columns</h3>
        <div class="checkbox-list">
            {% for status in statuses %}
                <label class="status-checkbox">
                    <input type="checkbox"
                           class="toggle-column"
                           data-column="status-column-{{ forloop.counter }}"
                           {% if status.0 in preselected_statuses %}checked{% endif %}>
                    {{ status.1|title }}
                </label>
            {% endfor %}
        </div>
    </div>


    <div id="grants-container">
        {% localize on %}
        <h2>Budget</h2>
        <p>
            The total budget is calculated based on grants that are in the 'Approved', 'Waiting for Confirmation', or 'Confirmed' statuses
        </p>
        <table>
            <thead>
                <tr>
                    <th>Total Amount</th>
                    <th></th>
                    {% for status in statuses %}
                        <th class="status-column-{{ forloop.counter }} {{ status.0 }}"
                            {% if status.0 not in preselected_statuses %}style="display:none"{% endif %}>
                            {{ status.1|title }}
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ total_amount|floatformat:"0" }}€</td>
                    <td></td>
                    {% for status in statuses %}
                        <td class="status-column-{{ forloop.counter }} {{ status.0 }}"
                            {% if status.0 not in preselected_statuses %}style="display:none"{% endif %}>
                            {{ financial_summary|get_item:status.0|default:"0"|floatformat:"0" }}€
                        </td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    {% endlocalize %}

    <h2>by Departure Country</h2>
    <table>
        <thead>
            <tr>
                <th>Continent</th>
                <th>Country</th>
                {% for status in statuses %}
                    <th class="status-column-{{ forloop.counter }}"
                        {% if status.0 not in preselected_statuses %}style="display:none"{% endif %}>
                        {{ status.1|title }}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for key, counts in country_stats.items %}
                {% with continent=key.0 country=key.1 %}
                    {% ifchanged continent %}
                        <tr class="continent-total">
                            <td>
                                <strong>Total for {{ continent }}: ⬇️</strong>
                            </td>
                            <td></td>
                            {% for status in statuses %}
                                <td class="status-column-{{ forloop.counter }}"
                                    {% if status.0 not in preselected_statuses %}style="display:none"{% endif %}>
                                    <strong>{{ totals_per_continent|get_item:continent|get_item:status.0|default:"0" }}</strong>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endifchanged %}
                    <tr>
                        <td>{{ continent }}</td>
                        <td>{{ country }}</td>
                        {% for status in statuses %}
                            <td class="status-column-{{ forloop.counter }}"
                                {% if status.0 not in preselected_statuses %}style="display:none"{% endif %}>
                                {{ counts|get_item:status.0|default:"0" }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endwith %}
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">Total Grants: {{ total_grants }}</td>
                {% for count in status_totals.values %}
                    <td class="status-column-{{ forloop.counter }}"
                        {% if status.0 not in preselected_statuses %}style="display:none"{% endif %}>
                        {{ count }}
                    </td>
                {% endfor %}
            </tr>
        </tfoot>
    </table>
    <h2>by Departure Country Type</h2>
    <table>
        <thead>
            <tr>
                <th>Country Type</th>
                <th></th>
                {% for status in statuses %}
                    <th class="status-column-{{ forloop.counter }}"
                        {% if status.0 not in preselected_statuses %}style="display:none"{% endif %}>
                        {{ status.1|title }}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for country_type, country_type_data in country_type_summary.items %}
                <tr>
                    <td>{{ country_types|get_item:country_type }}</td>
                    <td></td>
                    {% for status in statuses %}
                        <td class="status-column-{{ forloop.counter }}"
                            {% if status.0 not in preselected_statuses %}style="display:none"{% endif %}>
                            {{ country_type_data|get_item:status.0|default:"0" }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>by Gender</h2>
    <table>
        <thead>
            <tr>
                <th>Gender</th>
                <th></th>
                {% for status in statuses %}
                    <th class="status-column-{{ forloop.counter }}"
                        {% if status.0 not in preselected_statuses %}style="display:none"{% endif %}>
                        {{ status.1|title }}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for gender, gender_data in gender_stats.items %}
                <tr>
                    <td>{{ genders|get_item:gender|default:"Not Specified" }}</td>
                    <td></td>
                    {% for status in statuses %}
                        <td class="status-column-{{ forloop.counter }}"
                            {% if status.0 not in preselected_statuses %}style="display:none"{% endif %}>
                            {{ gender_data|get_item:status.0|default:"0" }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>by Grant Type</h2>
    <p>
        <strong>Note:</strong> As the Grant Type is a multiple field, each grantee can fit more than one category (e.g., they can be both unemployed and speakers). Therefore, the sums of the counts do not match the total number of grants.
    </p>
    <table>
        <thead>
            <tr>
                <th>Grant Type</th>
                <th></th>
                {% for status in statuses %}
                    <th class="status-column-{{ forloop.counter }}"
                        {% if status.0 not in preselected_statuses %}style="display:none"{% endif %}>
                        {{ status.1|title }}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for grant_type, grant_type_data in grant_type_summary.items %}
                <tr>
                    <td>{{ grant_type }}</td>
                    <td></td>
                    {% for status in statuses %}
                        <td class="status-column-{{ forloop.counter }}"
                            {% if status.0 not in preselected_statuses %}style="display:none"{% endif %}>
                            {{ grant_type_data|get_item:status.0|default:"0" }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>by Speaker Status</h2>
    <table>
        <thead>
            <tr>
                <th>Speaker Status</th>
                <th></th>
                {% for status in statuses %}
                    <th class="status-column-{{ forloop.counter }}"
                        {% if status.0 not in preselected_statuses %}style="display:none"{% endif %}>
                        {{ status.1|title }}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Proposed Speaker</td>
                <td></td>
                {% for status in statuses %}
                    <td class="status-column-{{ forloop.counter }}"
                        {% if status.0 not in preselected_statuses %}style="display:none"{% endif %}>
                        {{ speaker_status_summary.proposed_speaker|get_item:status.0|default:"0" }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>Confirmed Speaker</td>
                <td></td>

                {% for status in statuses %}
                    <td class="status-column-{{ forloop.counter }}"
                        {% if status.0 not in preselected_statuses %}style="display:none"{% endif %}>
                        {{ speaker_status_summary.confirmed_speaker|get_item:status.0|default:"0" }}
                    </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
    <h2>by Approved Type</h2>
    <table>
        <thead>
            <tr>
                <th>Approved Type</th>
                <th></th>
                {% for status in statuses %}
                    <th class="status-column-{{ forloop.counter }}"
                        {% if status.0 not in preselected_statuses %}style="display:none"{% endif %}>
                        {{ status.1|title }}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for approved_type, approved_type_data in approved_type_summary.items %}
                <tr>
                    <td>{{ approved_types|get_item:approved_type }}</td>
                    <td></td>
                    {% for status in statuses %}
                        <td class="status-column-{{ forloop.counter }}"
                            {% if status.0 not in preselected_statuses %}style="display:none"{% endif %}>
                            {{ approved_type_data|get_item:status.0|default:"0" }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>by Requested Needs</h2>
    <table>
        <thead>
            <tr>
                <th>Requested Need</th>
                <th></th>
                {% for status in statuses %}
                    <th class="status-column-{{ forloop.counter }}"
                        {% if status.0 not in preselected_statuses %}style="display:none"{% endif %}>
                        {{ status.1|title }}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for field, field_data in requested_needs_summary.items %}
                <tr>
                    <td>{{ field|title }}</td>
                    <td></td>
                    {% for status in statuses %}
                        <td class="status-column-{{ forloop.counter }}"
                            {% if status.0 not in preselected_statuses %}style="display:none"{% endif %}>
                            {{ field_data|get_item:status.0|default:"0" }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // This script allows users to toggle the visibility of columns in the table
        // based on the status they choose to show or hide.
        const checkboxes = document.querySelectorAll('.toggle-column');
        checkboxes.forEach(function(checkbox) {
            checkbox.addEventListener('change', function() {

                // Use data attributes to target columns.
                // Each checkbox has a data attribute 'data-column' that corresponds to the column's class to show/hide.
                const columnClass = checkbox.dataset.column;
                const columnsToToggle = document.querySelectorAll(`.${columnClass}`);

                columnsToToggle.forEach(function(cell) {
                    cell.style.display = checkbox.checked ? '' : 'none';
                });
            });
        });
    });
</script>
{% endblock %}
