files:
    "/etc/cron.d/pretixcron":
        mode: "000644"
        owner: root
        group: root
        content: |
            15,45 * * * * /usr/local/bin/pretixcron.sh

    "/usr/local/bin/pretixcron.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash
            docker exec `docker ps --no-trunc -q | head -n 1` pretix cron
            exit 0
