files:
    "/etc/cron.d/pretixcron":
        mode: "000644"
        owner: root
        group: root
        content: |
            15,45 * * * * /usr/local/bin/pretixcron.sh

    "/usr/local/bin/pretixcron.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash

            export PATH=/var/pretix/venv/bin:$PATH;
            cd /var/pretix;
            python -m pretix runperiodic;

            exit 0
