{% extends "admin/change_list.html" %}
{% block object-tools-items %}
    <li>
        <a href="{% url 'admin:grants-summary' %}?{{ request.GET.urlencode }}"
           class="button">Grant Summary</a>
    </li>
    {{ block.super }}
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript">
  window.addEventListener('load', function() {
      // Add tooltips
      const headers = document.querySelectorAll('.column-is_confirmed_speaker, .column-is_proposed_speaker');
      headers.forEach(header => {
          const text = header.textContent;
          header.setAttribute('title', text.trim() === '🗣️' ? 'Confirmed Speaker' : 'Proposed Speaker');
      });
  });
    </script>
{% endblock %}
