{% extends "admin/change_list.html" %}
{% block object-tools-items %}
    <li>
        <a href="{% url 'admin:grants-summary' %}?{{ request.GET.urlencode }}"
           class="button">Grant Summary</a>
    </li>
    {{ block.super }}
{% endblock %}
{% block extrastyle %}
    <style>
  th[title]:hover:after {
      content: attr(title);
      padding: 4px 8px;
      color: #fff;
      position: absolute;
      left: 50%;
      bottom: 100%;
      white-space: nowrap;
      z-index: 1000;
      background-color: #333;
      border-radius: 6px;
      box-shadow: 0px 0px 10px #000;
  }
    </style>
    {{ block.super }}
{% endblock %}
{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript">
  window.addEventListener('load', function() {
      // Add tooltips
      const headers = document.querySelectorAll('.column-is_confirmed_speaker, .column-is_proposed_speaker');
      headers.forEach(header => {
          const text = header.textContent;
          header.setAttribute('title', text.trim() === '🗣️' ? 'Confirmed Speaker' : 'Proposed Speaker');
      });
  });
    </script>
{% endblock %}
