@tailwind base;
@tailwind components;
@tailwind utilities;

.dotted-underline {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: theme('colors.purple');
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
}

.wavy-underline {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: theme('colors.aquamarine');
}

.carousel-container {
  --per-page: 1;
  --tw-translate-x: calc(var(--current-index) * -100% / var(--per-page));
}

@screen md {
  .carousel-container {
    --per-page: 4;
    --index: max(
      0,
      min(var(--current-index), calc(var(--total-count) - var(--per-page)))
    );
    --tw-translate-x: calc(var(--index) * -100% / var(--per-page));
  }
}

.schedule-head {
  @apply sticky top-0 z-10 grid gap-1 bg-black border-black border-b-4;
  grid-template-columns: repeat(var(--days), 1fr);
}

.schedule-grid {
  @apply grid gap-1 bg-black;

  grid-template-rows: repeat(var(--rows), 10px);
  grid-template-columns: 80px 1fr;
}

@screen md {
  .schedule-head,
  .schedule-grid {
    grid-template-columns: 80px repeat(var(--days), 1fr);
  }
}
