---
title: "[PyCon Italia 2023] Speaker communication"
preheader: ""
---

<extends src="src/layouts/base.html">
  <block name="template">
    <table class="w-full font-sans">
      <tr>
        <td align="center" class="bg-gray-100">
          <table class="w-600 sm:w-full">
            <tr>
              <component src="src/components/head-pycon.html" />
            </tr>
            <tr>
              <td align="center" class="sm:px-24">
                <table class="w-full">
                  <tr>
                    <td
                      class="bg-white text-gray-800 text-base text-left p-48 sm:px-24 leading-24"
                    >
                      <p class="m-0 mb-16">👋 @{{firstname}}!</p>
                      <p class="m-0 mb-8">@{{body}}</p>
                    </td>
                  </tr>
                  <tr>
                    <td class="h-48"></td>
                  </tr>
                  <tr>
                    <component src="src/components/footer.html" />
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </block>
</extends>
