---
title: "[PyCon Italia 2022] Here your Speaker Voucher Code!"
preheader: "Yay! Here you can find your Speaker Voucher Code"
---

<extends src="src/layouts/base.html">
  <block name="template">
    <table class="w-full font-sans">
      <tr>
        <td align="center" class="bg-gray-100">
          <table class="w-600 sm:w-full">
            <tr>
              <component src="src/components/head-pycon.html" />
            </tr>
            <tr>
              <td align="center" class="sm:px-24">
                <table class="w-full">
                  <tr>
                    <td
                      class="bg-white text-gray-800 text-base text-left p-48 sm:px-24 leading-24"
                    >
                      <p class="m-0 mb-16">👋 @{{firstname}}!</p>
                      <p class="m-0 mb-8 text-center">
                        English version 🇬🇧 (Versione Italiana sotto)
                      </p>
                      <p class="m-0 mb-8">
                        Congratulations again on your submission! We are super
                        happy to have you! 🙌 <br />
                        As a Speaker, your ticket is on us!
                      </p>
                      <p class="m-0 mb-8">To redeem it:</p>
                      <ul class="m-0 mb-24 pl-2 list-decimal list-inside">
                        <li>
                          Add 1 Regular or Late Personal ticket (the code won't
                          work for other tickets) to your basket.
                        </li>
                        <li>
                          Feel free to add t-shirts, hotel rooms or anything
                          else you need. The voucher code will only cover the
                          price of 1 ticket.
                        </li>
                        <li>Go ahead and fill in your personal information.</li>
                        <li>
                          In the review step, insert the following voucher code:
                          <!-- prettier-ignore -->
                          <div class="my-5 p-10 text-center text-white bg-darker">@{{voucherCode}}</div>
                        </li>
                        <li>
                          Press "Pay with card" or "Pay with Bank Transfer" and
                          you're done!
                        </li>
                      </ul>
                      <div
                        class="leading-full items-center justify-center flex mb-24"
                      >
                        <a
                          href="https://pycon.it/tickets"
                          target="_blank"
                          class="inline-block py-16 px-24 select-none text-base font-semibold text-center no-underline text-white bg-primary hover:bg-darker"
                        >
                          <!--[if mso
                            ]><i
                              style="
                                letter-spacing: 24px;
                                mso-font-width: -100%;
                                mso-text-raise: 30px;
                              "
                              >&#8202;</i
                            ><!
                          [endif]-->
                          <span style="mso-text-raise: 16px">
                            Open Tickets Page
                          </span>
                          <!--[if mso
                            ]><i
                              style="
                                letter-spacing: 24px;
                                mso-font-width: -100%;
                              "
                              >&#8202;</i
                            ><!
                          [endif]-->
                        </a>
                      </div>
                      <p class="m-0 mb-8">
                        Please try and buy your ticket as soon as possible!<br />

                        If you already bought a ticket, you could either ask for
                        a refund or donate it to our financial aid program.<br />
                        Just reply to this email or contact us at
                        <a href="mailto:speakers@pycon.it">speakers@pycon.it</a>
                      </p>

                      <!-- italian -->
                      <p class="m-0 mb-8 text-center">Versione Italiana 🇮🇹</p>
                      <p class="m-0 mb-8">
                        Congratulazioni per l'accettazione del tuo intervento!
                        Siamo super contenti di averti alla conferenza! 🙌
                        <br />
                        Da speaker, il tuo biglietto è offerto da noi!
                      </p>
                      <p class="m-0 mb-8">Come comprarlo:</p>
                      <ul class="m-0 mb-24 pl-2 list-decimal list-inside">
                        <li>
                          Aggiungi 1 biglietto Regular o Late (il tuo codice
                          sconto vale soltanto per questi due tipi di biglietto)
                          al tuo carrello.
                        </li>
                        <li>
                          Sentiti libero di aggiungere altro di cui hai bisogno:
                          t-shirts, stanze o altro. Il tuo codice sconto coprirà
                          soltanto il prezzo di un biglietto.
                        </li>
                        <li>
                          Prosegui inserendo le tue informazioni personali.
                        </li>
                        <li>
                          Nella pagina "Recap ordine" inserisci il seguente
                          codice sconto:
                          <!-- prettier-ignore -->
                          <div class="my-5 p-10 text-center text-white bg-darker">@{{voucherCode}}</div>
                        </li>
                        <li>
                          Premi "Paga con carta" o "Paga con bonifico bancario"
                          ed hai fatto!
                        </li>
                      </ul>
                      <div
                        class="leading-full items-center justify-center flex mb-24"
                      >
                        <a
                          href="https://pycon.it/tickets"
                          target="_blank"
                          class="inline-block py-16 px-24 select-none text-base font-semibold text-center no-underline text-white bg-primary hover:bg-darker"
                        >
                          <!--[if mso
                            ]><i
                              style="
                                letter-spacing: 24px;
                                mso-font-width: -100%;
                                mso-text-raise: 30px;
                              "
                              >&#8202;</i
                            ><!
                          [endif]-->
                          <span style="mso-text-raise: 16px">
                            Apri pagina biglietti
                          </span>
                          <!--[if mso
                            ]><i
                              style="
                                letter-spacing: 24px;
                                mso-font-width: -100%;
                              "
                              >&#8202;</i
                            ><!
                          [endif]-->
                        </a>
                      </div>
                      <p class="m-0 mb-8">
                        Ti consigliamo di comprare il tuo biglietto il prima
                        possibile! <br />
                        Se hai già comprato un biglietto, puoi decidere se
                        chiedere il rimborso, oppure donarlo al nostro programma
                        di financial aid. Basta rispondere a questa email o
                        contattarci a
                        <a href="mailto:speakers@pycon.it">speakers@pycon.it</a>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td class="h-48"></td>
                  </tr>
                  <tr>
                    <component src="src/components/footer.html" />
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </block>
</extends>
