---
import "@radix-ui/themes/styles.css";
import "../custom-styles.css";
---
<html>
    <head>
        <meta name="robots" content="NONE,NOARCHIVE" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <Fragment set:html={`
        {% extends 'admin/pycon_base.html' %}
        `} />
    </body>
</html>
