---
import "@radix-ui/themes/styles.css";
import "../custom-styles.css";
---
<html>
    <body>
        <Fragment set:html={`
        {% extends 'admin/real_base.html' %}
        `} />
    </body>
</html>
