---
import "@radix-ui/themes/styles.css";
import "../custom-styles.css";
import { InvitationLetterDocumentBuilderRoot } from "../components/invitation-letter-document-builder/root";
---
<html>
    <head>
        <title>Invitation Letter Document Builder</title>
    </head>

    <body class="text-sm">
        <InvitationLetterDocumentBuilderRoot
            documentId="{{ document_id }}"
            breadcrumbs="{{ breadcrumbs | to_json_for_prop }}"
            client:only />
    </body>
</html>
