---
import "../custom-styles.css";
import { ScheduleBuilderRoot } from "../components/schedule-builder/root";
---
<html>
    <head>
        <title>Schedule Builder</title>
    </head>

    <body class="text-sm">
        <ScheduleBuilderRoot
            conferenceId="{{ conference_id }}"
            conferenceCode="{{ conference_code }}"
            breadcrumbs="{{ breadcrumbs | to_json_for_prop }}"
            client:only />
    </body>
</html>
