---
import "../custom-styles.css";
import { ScheduleBuilderRoot } from "../components/schedule-builder/root";
---
<html>
    <head>
        <title>Schedule Builder</title>
    </head>

    <body class="text-sm">
        <ScheduleBuilderRoot client:only />

        <Fragment set:html={`
    {{ conference_id|json_script:"arg-conference_id" }}
    {{ conference_code|json_script:"arg-conference_code" }}
    {{ breadcrumbs|json_script:"arg-breadcrumbs" }}
`} />

    </body>
</html>
