@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

body:has(.brochure-page) {
  #__next > div > div.mt-auto > footer {
    display: none;
  }

  #__next > div > header {
    display: none;
  }

  @apply bg-cream;
}

.brochure-page .page {
  padding-block: 2cm;

  width: 21cm;
  height: 29.7cm;
  page-break-before: always;
}

@media print {
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    background-clip: padding-box;
    page-break-inside: avoid;
  }
}

.pricing-page-table div {
  margin-top: -1px;
}
