<td class="text-center text-gray-600 text-xs px-24">
  <p class="m-0 mb-4 uppercase">Python Italia</p>
  <p class="cursor-default">
    <a href="https://twitter.com/pyconit" target="_blank" class="text-primary no-underline hover:underline">Twitter</a>
    &bull;
    <a href="https://instagram.com/python.it/" target="_blank"
      class="text-primary no-underline hover:underline">Instagram</a>
    &bull;
    <a href="https://www.facebook.com/pythonitalia/" target="_blank"
      class="text-primary no-underline hover:underline">Facebook</a>
  </p>
</td>
