.header {
    border-bottom: 1px solid rgb(216, 216, 216);
    display: flex;
    align-items: center;
    height: 35px;
}

.header-title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-left: 1em;
    color: #3E3F42;
}

.user {
    margin-left: auto;
}

.content {
    min-height: calc(100vh - 35px);
    background-color: #FAFAFD;

    padding: 20px;
}

.content > div {
    max-width: 960px;
    margin: 0 auto;
}
