name: Build base pretix image

concurrency: v2024.11.0

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'The version of pretix to build. Example: v2024.10.0'
        required: true
        type: string

jobs:
  build:
    name: Build
    runs-on: [self-hosted]
    permissions:
      contents: read
      packages: write
    steps:
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/checkout@v4
        with:
          repository: pretix/pretix
          ref: v2024.11.0
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3
      - name: Build pretix base
        uses: docker/build-push-action@v6
        id: build-pretix-base
        with:
          context: .
          builder: ${{ steps.buildx.outputs.name }}
          provenance: false
          push: true
          tags: ghcr.io/pythonitalia/pycon/arm-pretix:v2024.11.0
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache
          platforms: linux/arm64
