name: Deploy

concurrency: deploy-${{ fromJSON('["pastaporto", "production"]')[github.ref == 'refs/heads/main'] }}

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      comment-id:
        description: 'The comment-id of the slash command'
        required: true
      event-number:
        description: 'The event-id of the slash command'
        required: true

env:
  TF_WORKSPACE:  ${{ fromJSON('["pastaporto", "production"]')[github.ref == 'refs/heads/main'] }}
  APOLLO_ROVER_VERSION: 0.1.9

jobs:
  create-db:
    runs-on: ubuntu-latest
    if: github.ref != 'refs/heads/main'
    defaults:
      run:
        working-directory: ./infrastructure/applications
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}
          fetch-depth: 0
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.aws_access_key_id }}
          aws-secret-access-key: ${{ secrets.aws_secret_access_key }}
          aws-region: eu-central-1
      - uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: 1.2.4
      - name: Terraform Init
        run: terraform init
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      - name: Terraform apply
        run: terraform apply -target module.database -no-color -auto-approve &> /dev/null
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: eu-central-1

  build-and-push-service:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        service:
          - name: gateway
            dir: gateway
          - name: users-backend
            dir: users-backend
          - name: association-backend
            dir: association-backend
          - name: pycon-backend
            dir: backend

    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}
          fetch-depth: 0
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.aws_access_key_id }}
          aws-secret-access-key: ${{ secrets.aws_secret_access_key }}
          aws-region: eu-central-1
      - name: Get service githash
        id: git
        run: |
          hash=$(git rev-list -1 HEAD -- ${{ matrix.service.dir }})
          echo "::set-output name=githash::$hash"
      - name: Check if commit is already on ECR
        id: image
        run: |
          set +e
          aws ecr describe-images --repository-name=pythonit/${{ matrix.service.name }} --image-ids=imageTag=${{ steps.git.outputs.githash }}
          if [[ $? == 0 ]]; then
            echo '::set-output name=image_exists::1'
          else
            echo '::set-output name=image_exists::0'
          fi
      - name: Set up QEMU dependency
        if: ${{ steps.image.outputs.image_exists == 0 }}
        uses: docker/setup-qemu-action@v2
      - name: Login to Amazon ECR
        if: ${{ steps.image.outputs.image_exists == 0 }}
        uses: aws-actions/amazon-ecr-login@v1
      - name: Set up Docker Buildx
        id: buildx
        if: ${{ steps.image.outputs.image_exists == 0 }}
        uses: docker/setup-buildx-action@v1
      - name: Cache Docker layers
        if: ${{ steps.image.outputs.image_exists == 0 }}
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ matrix.service.name }}
      - name: Build and push
        if: ${{ steps.image.outputs.image_exists == 0 }}
        uses: docker/build-push-action@v2
        with:
          context: ./${{ matrix.service.dir }}
          file: ./${{ matrix.service.dir }}/Dockerfile
          builder: ${{ steps.buildx.outputs.name }}
          push: true
          platforms: linux/arm64
          tags: ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.eu-central-1.amazonaws.com/pythonit/${{ matrix.service.name }}:${{ steps.git.outputs.githash }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache

  build-emails:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./email-templates/
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}
      - uses: pnpm/action-setup@v2.2.2
        with:
          version: 7.3.0
      - name: Install dependencies
        run: pnpm install
      - name: Build templates
        run: pnpm run build
      - uses: actions/upload-artifact@v2
        with:
          name: built-email-templates
          path: email-templates/build_production

  # Apply infrastructure changes
  terraform:
    runs-on: ubuntu-latest
    needs: [build-emails, build-and-push-service, create-db]
    environment:
      name: ${{ fromJSON('["pastaporto", "production"]')[github.ref == 'refs/heads/main'] }}
    defaults:
      run:
        working-directory: ./infrastructure/applications
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}
          fetch-depth: 0
      - uses: actions/download-artifact@v2
        with:
          name: built-email-templates
          path: email-templates/build_production
      - uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: 1.2.4
      - name: Terraform Init
        run: terraform init
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      - name: Terraform Validate
        id: validate
        run: terraform validate -no-color

      - name: Terraform apply
        run: terraform apply -no-color -auto-approve &> /dev/null
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: eu-central-1

  # TODO Temporary workaround the fact that the lambda takes a bit to update
  # so to avoid calling the old deployment, we want 20 seconds
  # the 20 seconds is not a meaningful value, it is a random delay
  # it might or might not be enough. This is just an hack until we add a solution for this
  # e.g lambda versions?
  wait-aws-update:
    runs-on: ubuntu-latest
    needs: [terraform]
    steps:
      - name: Sleep for 20 seconds
        run: sleep 20s
        shell: bash

  # Migrate the database
  migrate-pycon-backend-db:
    runs-on: ubuntu-latest
    needs: [terraform, wait-aws-update]
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}
      - name: Migrate PyCon Backend DB
        run: |
          aws lambda invoke --function-name ${{ env.TF_WORKSPACE }}-pycon-backend --cli-binary-format raw-in-base64-out --payload '{ "_serverless-wsgi": { "command": "manage", "data": "migrate" } }' response.json
          cat response.json
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}

  migrate-users-backend-db:
    runs-on: ubuntu-latest
    needs: [terraform, wait-aws-update]
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}
      - name: Migrate Users Backend DB
        run: |
          aws lambda invoke --function-name ${{ env.TF_WORKSPACE }}-users-backend --cli-binary-format raw-in-base64-out --payload '{ "_cli_command": { "action": "migrate" } }' response.json
          cat response.json
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}

  migrate-association-backend-db:
    runs-on: ubuntu-latest
    needs: [terraform, wait-aws-update]
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}
      - name: Migrate Association Backend DB
        run: |
          aws lambda invoke --function-name ${{ env.TF_WORKSPACE }}-association-backend --cli-binary-format raw-in-base64-out --payload '{ "_cli_command": { "action": "migrate" } }' response.json
          cat response.json
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}

  # Upload new schemas to Apollo Studio
  update-default-apollo-studio-graph:
    runs-on: ubuntu-latest
    needs: [terraform, wait-aws-update]
    environment:
      name: ${{ fromJSON('["pastaporto", "production"]')[github.ref == 'refs/heads/main'] }}

    strategy:
      fail-fast: false
      matrix:
        service:
          - name: users-backend
            path: ""
            url: https://${{ fromJSON('["pastaporto-", ""]')[github.ref == 'refs/heads/main'] }}users-api.python.it/graphql
          - name: association-backend
            path: ""
            url: https://${{ fromJSON('["pastaporto-", ""]')[github.ref == 'refs/heads/main'] }}association-api.python.it/graphql
          - name: pycon-backend
            path: ""
            url: https://${{ fromJSON('["pastaporto-", ""]')[github.ref == 'refs/heads/main'] }}admin.pycon.it/graphql

    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}
      - name: Cache Apollo Rover
        uses: actions/cache@v1
        id: cache-rover
        with:
          path: ~/.rover/bin
          key: rover-cache-${{ env.APOLLO_ROVER_VERSION }}
      - name: Install Apollo Rover
        if: steps.cache-rover.outputs.cache-hit != 'true'
        run: curl -sSL https://rover.apollo.dev/nix/v$APOLLO_ROVER_VERSION | sh
      - name: Append Apollo Rover to path
        run: echo "$HOME/.rover/bin" >> $GITHUB_PATH
      - name: Publish schema
        uses: ./.github/actions/publish-graph-schema
        with:
          service-name: ${{ matrix.service.name }}
          schema-path: ${{ matrix.service.path }}
          service-graphql-url: ${{ matrix.service.url }}
          apollo-key: ${{ secrets.DEFAULT_APOLLO_KEY }}
          graph: default-python-italia
          variant: ${{ env.TF_WORKSPACE }}
