name: Frontend Lint

on:
  pull_request:
    paths:
      - "frontend/**/*"
      - "frontend/*"
      - ".github/workflows/frontend-lint.yml"


jobs:
  lint:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - uses: pnpm/action-setup@v2.2.2
        with:
          version: 7.3.0
      - name: Setup Biome
        uses: biomejs/setup-biome@v2
        with:
          version: 1.5.3
      - name: Cache dependencies
        uses: actions/cache@v1
        id: cache
        with:
          path: ./node_modules
          key: node_modules-frontend-${{ hashFiles('pnpm-lock.yaml') }}-v4
      - name: Install dependencies
        run: pnpm install
      - name: Codegen
        run: pnpm run codegen
      - name: Run Biome
        run: biome ci .
