name: Frontend Lint

on:
  pull_request:
    paths:
      - "frontend/**/*"
      - "frontend/*"
      - ".github/workflows/frontend-lint.yml"


jobs:
  lint:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 9
          run_install: false
      - uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'pnpm'
      - name: Setup Biome
        uses: biomejs/setup-biome@v2
        with:
          version: 1.8.3
      - name: Install dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: pnpm install
      - name: Codegen
        run: pnpm run codegen
      - name: Run Biome
        run: biome ci .
