name: Frontend Lint

on:
  pull_request:
    paths:
      - "frontend/**/*"
      - "frontend/*"
      - ".github/workflows/frontend-lint.yml"


jobs:
  lint:
    runs-on: ubuntu-24.04
    defaults:
      run:
        working-directory: ./frontend
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 9
          run_install: false
      - uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'pnpm'
          cache-dependency-path: 'frontend/pnpm-lock.yaml'
      - name: Setup Biome
        uses: biomejs/setup-biome@v2
        with:
          version: 1.9.4
      - name: Install dependencies
        run: pnpm install
      - name: Codegen
        run: pnpm run codegen
        env:
          API_URL_SERVER: https://pastaporto-admin.pycon.it/graphql
      - name: Run Biome
        run: biome ci .
