on:
  pull_request:
    paths:
      - "infrastructure/global/**/*"
      - "infrastructure/global/*"

name: Global Terraform Lint

env:
  TF_WORKSPACE: "default"

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Terraform Format
        id: fmt
        run: terraform fmt -check
        env:
          TF_IN_AUTOMATION: 1
