name: PyCon Backend tests

on:
  pull_request:
    paths:
      - "pycon-backend/**/*"
      - "pycon-backend/*"
      - ".github/workflows/pycon-backend-test.yml"

jobs:
  unit-tests:
    runs-on: ubuntu-20.04

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres
        ports:
          - 5432/tcp
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-python@v2
        with:
          python-version: "3.9.1"
      - run: pip install poetry

      - name: Cache Poetry
        uses: actions/cache@v1
        id: cache
        with:
          path: ~/.virtualenvs
          key: poetry-${{ hashFiles('**/poetry.lock') }}-v2
          restore-keys: |
            poetry-${{ hashFiles('**/poetry.lock') }}-v2

      - name: Set Poetry config
        run: |
          poetry config virtualenvs.create false
          poetry config virtualenvs.path ~/.virtualenvs

      - name: Install python dependencies
        working-directory: pycon-backend
        run: poetry install
        if: steps.cache.outputs.cache-hit != 'true'

      - name: Install codecov
        working-directory: pycon-backend
        run: pip install codecov
      - name: pytest
        working-directory: pycon-backend
        run: |
          set +e
          OUTPUT=$(poetry run pytest --cov-report xml --cov=. --cov-fail-under 99)
          STATUS=$?
          echo "$OUTPUT"
          cd ..
          codecov
          exit $STATUS
        env:
          DATABASE_URL: postgresql://postgres:postgres@localhost:${{ job.services.postgres.ports['5432'] }}/postgres
          STRIPE_SECRET_KEY: ${{ secrets.STRIPE_SECRET_KEY }}
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
